{% extends "layout.html" %}

{% block content %}
<div class="container-lg mt-3 text-light">
    <h1>Сайт: {{ url.name }}</h1>
    <div class="table-responsive">
        <table class="table table-bordered text-nowrap text-light" data-test="url">
            <tbody>
            <tr>
                <td>ID</td>
                <td>{{ url.id }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ url.name }}</td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td>{{ url.created_at}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2 class="mt-5 mb-3">Проверки</h2>
    <form method="post" action="{{ url_for('check_url', id=url.id) }}">
        <input type="submit" class="btn btn-primary" value="Запустить проверку">
    </form>
    <div>
        <table class="table table-bordered mt-2 text-light" data-test="checks">
            <thead>
            <tr>
                <th>ID</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>title</th>
                <th>description</th>
                <th>Дата создания</th>
            </tr>
            </thead>
            <tbody>
            {% for check in checks %}
            <tr>
                <th>{{ check.id }}</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>title</th>
                <th>description</th>
                <th>{{ check.created_at }}</th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
